Repository camlsys/fl-project-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, yamlfix, docformatter, ruff, mypy

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, pre-push]
exclude: |
  (?x)^(
                outputs/|
                wandb/|
                multirun/|
                dev/|
                data/|
                run_scripts/|
                .pre-commit-config.yaml/|

  )$

# fail_fast: true
repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [file, python]
      - id: black
        name: black
        entry: poetry run black -q
        language: system
        types: [file, python]
      - id: yamlfix
        name: yamlfix
        entry: poetry run yamlfix
        language: system
        types: [file, yaml]
      - id: docformatter
        name: docformatter
        entry: poetry run docformatter -i -r
        language: system
        types: [file, python]
      - id: ruff
        name: ruff
        entry: poetry run ruff --fix
        language: system
        types: [file, python]
      - id: mypy
        name: mypy
        entry: poetry run mypy --incremental --show-traceback
        language: system
        types: [file, python]
        stages: [pre-push, manual]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0  # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key

ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [isort, black, yamlfix, docformatter, ruff, mypy]
  submodules: false

Add pre-commit CI
  .pre-commit-config.yaml
Due: yamlfix

Allo pre-commit CI to run local hooks.
  .pre-commit-config.yaml
Due: yamlfix

Eliminate local hooks from pre-commit
  .pre-commit-config.yaml
Due: yamlfix

Auto-start pre-commit
  project/main.py
Due: isort, black, docformatter, ruff, mypy

Add github actions CI
  .dev/test.sh
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/bootstrap/action.yml
  .github/dependabot.yml
  .github/workflows/framework.yml
  .github/workflows/update-pr.yml
Due: yamlfix

Update github actions
  .github/workflows/framework.yml
  .github/workflows/update-pr.yml
Due: yamlfix

Delete slow github action
  .github/actions/bootstrap/action.yml
  .github/workflows/framework.yml
Due: yamlfix

Complete setting up pre-commit CI
  .pre-commit-config.yaml
  plotting/data_analysis.ipynb
  project/client/client.py
  project/dispatch/dispatch.py
  project/fed/server/deterministic_client_manager.py
  project/fed/server/wandb_history.py
  project/fed/server/wandb_server.py
  project/fed/utils/utils.py
  project/main.py
  project/task/default/dataset.py
  project/task/default/dataset_preparation.py
  project/task/default/dispatch.py
  project/task/default/models.py
  project/task/default/train_test.py
  project/task/mnist_classification/dataset.py
  project/task/mnist_classification/dataset_preparation.py
  project/task/mnist_classification/dispatch.py
  project/task/mnist_classification/models.py
  project/task/mnist_classification/train_test.py
  project/types/common.py
  project/utils/utils.py
  pyproject.toml
Due: isort, black, yamlfix, docformatter, ruff, mypy

Test CI
  .pre-commit-config.yaml
Due: yamlfix

Update pre-commit-config
  .pre-commit-config.yaml
Due: yamlfix

Update ruff config
  .pre-commit-config.yaml
Due: yamlfix

Fix ruff isort incompatibility
  .pre-commit-config.yaml
  pyproject.toml
Due: yamlfix

Update pre-commit config:
  .pre-commit-config.yaml
Due: yamlfix

Remove isort, using ruff instead
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: yamlfix

Fix pre-commit config
  .pre-commit-config.yaml
Due: yamlfix

Test ruff
  .pre-commit-config.yaml
Due: yamlfix

Test ruff
  pyproject.toml
Due: none

Test ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: yamlfix

Add pre-commit badge to repo
  README.md
Due: none

Update Readme with steps to setup CI
  README.md
Due: none

Edit extended_readme and make all dependencies absolute
  EXTENDED_README.md
  poetry.lock
  pyproject.toml
Due: none

Update readme
  .dev/test.sh
  README.md
Due: none

Add .gitkeep to output, multirun and wandb folders
  .gitignore
  README.md
  multirun/.gitkeep
  outputs/.gitkeep
  setup.sh
  wandb/.gitkeep
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

Update mnist.yaml
  project/conf/fed/mnist.yaml
Due: yamlfix

Update default.yaml
  project/conf/fed/default.yaml
Due: yamlfix

Update readme and change naming to debug_clients
  README.md
  project/conf/base.yaml
  project/conf/mnist.yaml
  project/main.py
Due: isort, black, yamlfix, docformatter, ruff, mypy

fix bug related to rounding and client_resources
  project/main.py
Due: isort, black, docformatter, ruff, mypy
