Repository camlsys/fl-project-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, yamlfix, docformatter, ruff, mypy

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push]
exclude: |
  (?x)^(
                outputs/|
                wandb/|
                multirun/|
                dev/|
                .pre-commit-config.yaml

  )$
fail_fast: true
repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [file, python]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [file, python]
      - id: yamlfix
        name: yamlfix
        entry: poetry run black
        language: system
        types: [file, yaml]
      - id: docformatter
        name: docformatter
        entry: poetry run docformatter
        language: system
        types: [file, python]
      - id: ruff
        name: ruff
        entry: poetry run ruff
        language: system
        types: [file, python]
      - id: mypy
        name: mypy
        entry: poetry run mypy --incremental --show-traceback
        language: system
        types: [file, python]
        stages: [pre-push, manual]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key

Setup typing system for advanced template
  .pre-commit-config.yaml
  project/client/client_schema.py
  project/typing/common.py
Due: isort, black, docformatter, ruff, mypy

Setup advancade branch structure
  poetry.lock
  project/__init__.py
  project/conf/base.yaml
  project/task/__init__.py
  pyproject.toml
Due: isort, black, yamlfix, docformatter, ruff, mypy

Expand folder structure
  .pre-commit-config.yaml
  project/client/client_schema.py
  project/conf/base.yaml
  project/conf/client/default.yaml
  project/conf/fed/default.yaml
  project/conf/strategy/fedavg.yaml
  project/conf/strategy/fedyogi.yaml
  project/typing/__init__.py
  project/typing/common.py
  slurm/launch.sh
Due: isort, black, yamlfix, docformatter, ruff, mypy

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Create config file structure
  .pre-commit-config.yaml
  project/conf/config.yaml
  project/conf/strategy/fedadagrad.yaml
  project/conf/strategy/fedadam.yaml
  project/conf/strategy/fedavg.yaml
  project/conf/strategy/fedavgm.yaml
  project/task/__init__.py
  project/utils/__init__.py
  project/utils/utils.py
Due: isort, black, yamlfix, docformatter, ruff, mypy

Add default client
  dev/format-baseline.sh
  project/client/client.py
  project/conf/client/default.yaml
  project/conf/config.yaml
  project/conf/fed/default.yaml
Due: isort, black, yamlfix, docformatter, ruff, mypy

Finish light template structure
  project/client/client.py
  project/conf/client/default.yaml
  project/conf/config.yaml
  project/conf/fed/default.yaml
  project/fed/__init__.py
  project/fed/server/__init__.py
  project/fed/server/deterministic_client_manager.py
  project/fed/server/server.py
  project/fed/server/strategy/__init__.py
  project/fed/server/strategy/strategy.py
  project/fed/server/wandb_history.py
  project/fed/server/wandb_server.py
  project/fed/utils/__init__.py
  project/fed/utils/utils.py
  project/main.py
  project/server/__init__.py
  project/server/server.py
  project/task/default/models.py
  project/task/default/train_test.py
  project/typing/__init__.py
  project/typing/common.py
  project/utils/utils.py
  setup.sh
Due: isort, black, yamlfix, docformatter, ruff, mypy

Change client_generator typing.
  project/client/client.py
  project/typing/common.py
Due: isort, black, docformatter, ruff, mypy

Add parameter saving
  .pre-commit-config.yaml
  dev/format.sh
  dev/test.sh
  project/client/__init__.py
  project/client/client.py
  project/fed/server/deterministic_client_manager.py
  project/fed/server/wandb_history.py
  project/fed/server/wandb_server.py
  project/fed/utils/utils.py
  project/main.py
  project/task/default/dataset_preparation.py
  project/task/default/main.py
  project/utils/utils.py
  run_scripts/launch.sh
Due: isort, black, docformatter, ruff, mypy

Add example launch.sh
  run_scripts/launch.sh
Due: none

Update setup.sh
  setup.sh
Due: none

Adapt Flower FedProx example
  project/conf/base.yaml
  project/conf/dataset/mnist.yaml
  project/task/mnist_classification/__init__.py
  project/task/mnist_classification/dataset.py
  project/task/mnist_classification/dataset_preparation.py
  project/task/mnist_classification/models.py
  project/task/mnist_classification/train_test.py
Due: isort, black, yamlfix, docformatter, ruff, mypy

Add code implementation for MNIST example
  project/fed/utils/utils.py
  project/main.py
  project/task/default/models.py
  project/task/default/train_test.py
  project/task/mnist_classification/dataset.py
  project/task/mnist_classification/dataset_preparation.py
  project/task/mnist_classification/models.py
  project/task/mnist_classification/train_test.py
  project/utils/utils.py
Due: isort, black, docformatter, ruff, mypy

Finish example
  .gitignore
  project/client/client.py
  project/client/mnist_client.py
  project/conf/client/mnist.yaml
  project/conf/dataset/default.yaml
  project/conf/fed/mnist.yaml
  project/conf/mnist.yaml
  project/fed/server/deterministic_client_manager.py
  project/fed/server/wandb_server.py
  project/fed/utils/utils.py
  project/main.py
  project/task/default/dataset_preparation.py
  project/task/default/train_test.py
  project/task/mnist_classification/dataset.py
  project/task/mnist_classification/dataset_preparation.py
  project/task/mnist_classification/train_test.py
  project/types/__init__.py
  project/types/common.py
  project/utils/utils.py
  setup.sh
Due: isort, black, yamlfix, docformatter, ruff, mypy

Modify setup.sh to run all hooks
  project/utils/utils.py
  setup.sh
Due: isort, black, docformatter, ruff, mypy

Make default yaml files consistent with light branch
  project/conf/base.yaml
  project/conf/client/default.yaml
  project/conf/dataset/default.yaml
  project/conf/fed/default.yaml
Due: yamlfix

Add global checkpointing
  poetry.lock
  project/conf/base.yaml
  project/conf/fed/mnist.yaml
  project/conf/mnist.yaml
  project/main.py
  project/utils/utils.py
Due: isort, black, yamlfix, docformatter, ruff, mypy

Finish MNIST example
  dev/format.sh
  dev/test.sh
  plotting/data_analysis.ipynb
  plotting/plots/.gitkeep
  plotting/tables/.gitkeep
  project/client/client.py
  project/client/mnist_client.py
  project/conf/base.yaml
  project/conf/client/mnist.yaml
  project/conf/dataset/mnist.yaml
  project/conf/fed/mnist.yaml
  project/conf/mnist.yaml
  project/fed/server/deterministic_client_manager.py
  project/fed/server/wandb_history.py
  project/fed/server/wandb_server.py
  project/fed/utils/utils.py
  project/task/default/dataset.py
  project/task/default/models.py
  project/task/mnist_classification/__init__.py
  project/task/mnist_classification/dataset.py
  project/task/mnist_classification/dataset_preparation.py
  project/task/mnist_classification/models.py
  project/task/mnist_classification/train_test.py
  project/types/__init__.py
  project/types/common.py
  project/utils/utils.py
Due: isort, black, yamlfix, docformatter, ruff, mypy

Finish MNIST example
  .pre-commit-config.yaml
  project/utils/utils.py
  setup.sh
Due: isort, black, docformatter, ruff, mypy

Finish dispatch implementation
  project/client/client.py
  project/client/mnist_client.py
  project/conf/base.yaml
  project/conf/client/default.yaml
  project/conf/client/mnist.yaml
  project/conf/dataset/default.yaml
  project/conf/fed/default.yaml
  project/conf/fed/mnist.yaml
  project/conf/mnist.yaml
  project/conf/task/default.yaml
  project/conf/task/mnist.yaml
  project/dispatch/__init__.py
  project/dispatch/dispatch.py
  project/main.py
  project/task/default/dataset.py
  project/task/default/dispatch.py
  project/task/default/models.py
  project/task/default/train_test.py
  project/task/mnist_classification/dataset.py
  project/task/mnist_classification/dispatch.py
  project/task/mnist_classification/train_test.py
  project/types/common.py
Due: isort, black, yamlfix, docformatter, ruff, mypy

Add --config-name to example run script
  project/conf/base.yaml
  project/conf/mnist.yaml
  project/main.py
  project/task/default/dataset.py
  project/task/default/dispatch.py
  run_scripts/launch.sh
Due: isort, black, yamlfix, docformatter, ruff, mypy

Add readthedocs integration
  .readthedocs.yaml
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/usage.rst
  pyproject.toml
Due: isort, black, yamlfix, docformatter, ruff, mypy

Change version
  .pre-commit-config.yaml
  .readthedocs.yaml
Due: yamlfix

Change version
  .readthedocs.yaml
Due: yamlfix

Update usage
  docs/source/api.rst
  docs/source/index.rst
Due: none

Add API
  docs/source/api.rst
Due: none

Expand main comments
  .pre-commit-config.yaml
  .readthedocs.yaml
  docs/Makefile
  docs/make.bat
  docs/requirements.txt
  docs/source/api.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/usage.rst
  project/conf/fed/mnist.yaml
  project/conf/task/mnist.yaml
  project/main.py
Due: isort, black, yamlfix, docformatter, ruff, mypy

Version 1.0
  project/conf/fed/default.yaml
  project/conf/mnist.yaml
  project/main.py
Due: isort, black, yamlfix, docformatter, ruff, mypy

Version 1.0
  project/main.py
Due: isort, black, docformatter, ruff, mypy

Add readme
  README.md
  project/conf/mnist.yaml
  project/task/mnist_classification/dataset_preparation.py
Due: isort, black, yamlfix, docformatter, ruff, mypy

Fix grammar
  .vscode/ltex.dictionary.en-US.txt
  .vscode/ltex.hiddenFalsePositives.en-US.txt
  README.md
  project/main.py
Due: isort, black, docformatter, ruff, mypy

Linting
  project/main.py
Due: isort, black, docformatter, ruff, mypy

Update .gitignore
  .gitignore
  README.md
Due: none

Fix readme
  README.md
Due: none

Remove vscode
  .gitignore
  .vscode/ltex.dictionary.en-US.txt
  .vscode/ltex.hiddenFalsePositives.en-US.txt
Due: none

Bump ruff
  poetry.lock
  pyproject.toml
Due: none

Update linters and change to X | Y style for optionals
  poetry.lock
  project/client/client.py
  project/dispatch/dispatch.py
  project/fed/server/deterministic_client_manager.py
  project/fed/server/wandb_history.py
  project/fed/server/wandb_server.py
  project/fed/utils/utils.py
  project/main.py
  project/task/default/dataset.py
  project/task/default/dispatch.py
  project/task/default/models.py
  project/task/default/train_test.py
  project/task/mnist_classification/dataset.py
  project/task/mnist_classification/dataset_preparation.py
  project/task/mnist_classification/dispatch.py
  project/task/mnist_classification/train_test.py
  project/types/common.py
  project/utils/utils.py
  pyproject.toml
Due: isort, black, docformatter, ruff, mypy

Test pre-commit CI
  project/main.py
Due: isort, black, docformatter, ruff, mypy
